header {
    padding: 10px;
    border-bottom: 1px solid #efefef;
}

header li {
    list-style: none;
}

header li a {
    text-decoration: none;
}

.header-menu ul {
    display: flex;
}

.header-menu li {
    margin-left: 25px;
}